
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:	none;
}
.sf-menu {
	line-height:	1.0;	
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */

}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {

	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;

}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			2.7em; /* match top ul list item height */
	#z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;
	margin-bottom:	1em;
}
.sf-menu a {
	/*
	border-left:	1px solid #960018;
	border-top:		1px solid #960018;
	*/
	padding: 		.75em 0.45em;
	text-decoration:none;
}
#.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color: #AEAEAE;
}
.sf-menu li a {
	color: #888888;
}
.sf-menu li li {
	/*background-color: #343434;*/	
		background-color: #888888;
		opacity: 0.9; 
		
	/*#color: #fff;*/
	color: #000;
	/*#background: #55555;
	#background:		#E2E6E7;
	 background:		#112b38; */
}

.sf-menu ul li a {
	color: #343434;
}

.sf-menu ul li a:hover {
	color: #fff;
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {

	outline:		0;
}



