<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
	<head>
	
		<title>Startseite</title>
		
		<meta name="robots" content="index,follow" />
		<meta name="keywords" content="Thomas, Thomas Hackl, Thomas22, Thomi, thomi22, thomas2242, thomi2242, moorhuhn559, th22, th2242" />
		<meta name="description" content="Homepage von Thomas mit einer schicken Fotogalerie und einem kleinen Spiel" />
		<meta name="author" content="thomas" />
		<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
		
		<link rel="stylesheet" type="text/css" href="./css/main.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="./css/superfish.css" media="screen" />

		<script type="text/javascript" src="./javascripts/jquery.js"></script>
		<script type="text/javascript" src="./javascripts/superfish.js"></script>		
		<script type="text/javascript" src="./javascripts/begruessung.js"></script>
		<script type="text/javascript" src="./javascripts/init_superfish.js"></script>
		
	</head>
	
	<body>
		<div id="seite">
			<div id="head">
			</div>
			<div id="navigation">
			
			<!--MENU-->	
	
			</div>
			<div id="inhalt">
				<h1>Willkommen</h1>
				
				<p>Also, noch viel Spa&szlig; beim st&ouml;bern auf meiner Homepage!</p>
			</div>
		</div>
	</body>
</html>
